<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="empresa">

    <select id="obtenerEmpresas" resultType="modelo.pojo.Empresa">
        SELECT idEmpresa,
               nombre,
               nombreComercial,
               nombreRepresentanteLegal,
               email,
               direccion,
               codigoPostal,
               ciudad,
               telefono,
               paginaWeb,
               RFC,
               estatus
        FROM empresa
    </select>
    
    <select id="obtenerEmpresaById" parameterType="int" resultType="modelo.pojo.Empresa">
        SELECT idEmpresa,
               nombre,
               nombreComercial,
               nombreRepresentanteLegal,
               email,
               direccion,
               codigoPostal,
               ciudad,
               telefono,
               paginaWeb,
               RFC,
               estatus
        FROM empresa WHERE idEmpresa = #{idEmpresa}
    </select>
    
    <insert id="registrar" parameterType="modelo.pojo.Empresa">     
        INSERT INTO empresa (nombre, nombreComercial, nombreRepresentanteLegal, email, direccion, codigoPostal, ciudad, telefono, paginaWeb, RFC)
        VALUES (#{nombre}, #{nombreComercial}, #{nombreRepresentanteLegal}, #{email}, #{direccion}, #{codigoPostal}, #{ciudad}, #{telefono}, #{paginaWeb}, #{RFC})
    </insert>
    
    <update id="editar" parameterType="modelo.pojo.Empresa">
        
        UPDATE empresa
        SET nombre = #{nombre},
            nombreComercial = #{nombreComercial},
            nombreRepresentanteLegal = #{nombreRepresentanteLegal},
            email = #{email},
            direccion = #{direccion},
            codigoPostal = #{codigoPostal},
            ciudad = #{ciudad},
            telefono = #{telefono},
            paginaWeb = #{paginaWeb}
        WHERE idEmpresa = #{idEmpresa}
        
    </update>
    
    <update id="subirLogo" parameterType = "modelo.pojo.Empresa">
        UPDATE empresa SET logoEmpresa = #{logoEmpresa} WHERE idEmpresa = #{idEmpresa}
    </update>
    
    <select id="obtenerLogo" parameterType="int" resultType="modelo.pojo.Empresa">
        SELECT idEmpresa, nombre, nombreComercial, nombreRepresentanteLegal, TO_BASE64(logoEmpresa) AS 'logoEmpresaBase64' FROM empresa WHERE idEmpresa = #{idEmpresa}
    </select>
    
    <delete id="eliminar" parameterType="int">
        DELETE FROM empresa WHERE idEmpresa = #{idEmpresa}
    </delete>
    
    
    
    <update id="subirLogoEmpresa" parameterType="modelo.pojo.Empresa"  >
        UPDATE empresa
        SET logoEmpresa=#{logoEmpresa}
        WHERE idEmpresa=#{idEmpresa}
    </update>

    <select id="obtenerLogoEmpresa" parameterType="int" resultType="modelo.pojo.Empresa">
        SELECT idEmpresa, nombre, TO_BASE64(logoEmpresa) AS 'logoEmpresaBase64' 
        FROM empresa
        WHERE idEmpresa=#{idEmpresa}
    </select>
    
    
</mapper>
